
<div class="d-flex justify-content-center" style="margin-top: 10rem;">
<form [formGroup]='userForm' class="row g-3 needs-validation" (ngSubmit)="onSubmitForm()" novalidate>
    <div class="col-md-3">
        <label for="validationCustom01" class="form-label">id</label>
        <input type="text" class="form-control" id="validationCustom01"  value="Mark" required formControlName="id">

        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label"> name</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required formControlName="name">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">gmail</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required formControlName="gmail">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <label  class="form-label">phone</label>
        <input type="text" class="form-control"  value="Otto" required formControlName="phone">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">password</label>
        <input type="password" class="form-control" id="validationCustom04" value="Mark" required formControlName="password">

        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
</div>