<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  
      <button type="button" class="btn btn-primary"  
      (click)="routerUpdate()" >update</button>
  
      <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
       
      </div>
    </div>
  </nav> -->
  <div class="row d-flex justify-content-center">
  <div class="card"  style="width: 18rem;">
      <img src="https://images.agromassidayu.com/img/novosti-i-obshestvo/55/kto-sozdatel-quotmajkrosoftaquot-bill-gejts-i-pol-allen-sozdateli-kompanii-quotmajkrosoftquot-istoriya_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
        <button type="button" class="btn btn-primary"  
        (click)="routerUpdate()" >update</button>        
      </div>
    </div>
  </div>