<form [formGroup]='userForm' class="row g-3 needs-validation" (ngSubmit)="onSubmitForm()" novalidate>
    <div class="col-md-3">
        <label for="validationCustom01" class="form-label">city</label>
        <input type="text" class="form-control" id="validationCustom01" value="Mark" required formControlName="city">

        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label"> School</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required formControlName="School">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
   

   

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form> 